@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient( to bottom, #4DC04D, #CBDBA7);
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

