nav {
    height: 100px;
    background: linear-gradient( -315deg, #4DC04D, #CBDBA7);
}

nav img {
    width: 100%;
    height: auto;
    max-width: 100px;
    position: relative;
}

nav a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a h1 {
    position: absolute;
    top: 40px;
    color: #fff;
    font-style: italic;
    font-size: 24px;
} 